* {
    color: #82756A;
}

.contains {
    width: 80%;
    margin: 0 auto;
}

.page-title {
    display: block;
    text-align: center;
}

.logout {
    display: inline-block;
    padding: 10px 20px;
    background: #f5f5f5;
    color: #82756A;
    text-decoration: none;
    border: solid 1px #82756A;
}

.search-form{
    display:flex;
    justify-content: space-between;
    margin-bottom:25px;
    align-items:center;
}

.name_email_filter{
    width:30%;
    height: 40px;
    /* 高さを明示的に指定 */
    box-sizing: border-box;
    /* 追加：高さを完全に統一する */
}

.name_email_filter,
.gender_dropdown,
.category_dropdown{
    outline:none;
    border:1px solid #c0c0c0;
    padding:10px 30px 10px 10px;
    -webkit-appearance: none;
    appearance: none;
}

.date_calendar{
    outline:none;
    border:1px solid #c0c0c0;
    padding:10px 30px 10px 10px;
    background: #f5f5f5;
    cursor: default;
}

.date_calendar::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: default;
    width: 20px;
    height: 20px;
}

.gender_dropdown,
.category_dropdown,
.date_calendar {
    background:#f5f5f5;
}

/*選択ボックスの▼表示　基準点*/
.gender,
.category_id,
.date {
    position:relative;
}
/*選択ボックスの▼表示　形づくり*/
.gender::before,
.category_id::before,
.date::before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #c0c0c0 transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    pointer-events: none;
}

.submit-button {
    background: #685E55;
    color: #fff;
    width:80px;
    height: 40px;
    box-sizing: border-box;
    border: none;
    outline: none;
}

button {
    position: relative;
    z-index: 10000;
    cursor: pointer;
}

.reset-button {
    background: #A39588;
    color: #fff;
    width: 80px;
    height: 40px;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.contacts-table{
    border-collapse: collapse;
}

.contacts-database {
    width: 100%;
    border: solid 1px #c0c0c0;
}

.contacts-database tr:has(td):hover {
    background-color: #f5f5f5;
}

.column-name{
    text-align:left;
    background:#82756A;
    color:#fff;
    padding:10px 30px;
    border-bottom: solid 1px #c0c0c0;
}

.name_get,
.gender_get,
.email_get,
.category_get,
.created_get{
    padding:10px 30px;
    border-bottom:solid 1px #c0c0c0;
}

.above-table{
    display:flex;
    justify-content: space-between;
    margin-bottom:20px;
}

.export{
    outline:none;
    background:#E2D8CC;
    padding:5px 10px;
    border:solid 1px #c0c0c0;
}

.flex-1,
.pagination p{
    display:none;
}

.pagination a,
span[aria-current="page"],
span[aria-label="&laquo;"]{
    text-decoration:none;
    display: inline-block;
    height:19px;
    width:19px;
    padding: 3px;
    border:solid 1px #BAA899;
    text-align: center;
    
}

span[aria-current="page"],
span[aria-current="page"] span {
    background: #82756A !important;  /* 現在のページの背景色 */
    border-color: #82756A !important;/* 現在のページの枠線色 */
    color: #fff !important;          /* 現在のページの文字色 */
}

svg{
    width:15px;
    height:24px;
}

.shadow-sm{
    display:flex;
    align-items:center;
}

span[aria-current="page"]{
    background:#BAA899;
}

span[aria-current="page"] span{
    color:#fff;
}

.search-button{
    outline:none;
    border:none;
    background:transparent;
    border: solid 1px #BAA899;
}

.detail_get{
    width:80px;
    padding:10px 15px;
    border-bottom:solid 1px #c0c0c0;
}

.detail-view{
    padding:5px 10px;
    margin:0 auto;
    outline:none;
    background:#f5f5f5;
    color:#BAA899;
    border:solid 1px #BAA899;
    text-align:center;
}

.reset{
    margin-top:40px;
    text-align:center;
}

.reset-link{
    outline:none;
    border:none;
    padding:10px 30px;
    color:#fff;
    background:#82756A;
    height:unset;
}

.modal{
    display:none;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding:80px 60px;
    background-color:#FFFFFF;
    border: 1px solid #8B7969;
    box-shadow:1px 1px 2px;
    z-index: 20000;
}

.modal.active {
    display: block;
}

.close-button{
    color:#8B7969;
    position:absolute;
    right:30px;
    top:30px;
    text-decoration: none;
    cursor:pointer;
    z-index: 20001;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    /* 丸の幅 */
    height: 32px;
    /* 丸の高さ（幅と合わせる） */
    border: 1px solid #8B7969;
    /* 枠線の太さと色 */
    border-radius: 50%;
    /* これで完全な丸にする */
    background: transparent;
    /* 背景を透明に */
}

.modal-title{
    text-align:left;
    width:250px;
    color:#8B7969;
}

.detail-title{
    vertical-align: top;
    color:#8B7969;
}

.modal-cell{
    width:350px;
    padding:10px 15px;
    color:#8B7969;
}

.detail-text-modal{
    width:100%;
    min-height:100px;
    font-family:sans-serif;
}

.delete{
    text-align:center;
    margin-top:40px;
}

.delete-button{
    padding:10px 20px;
    background:red;
    color:#fff;
    outline:none;
    border:solid 1px #fff;
}

